.app{
  margin-top: 50px;
  width:  300px;
  display: flex;
  float: left;
justify-content:space-around;
align-items: center;
margin-left: 450px;
margin-right: 550PX;
font-size:20px;
color:#969597;
}
.app a {
  color:#969597;
}
.app a:hover {
  color:black;
}
