.top{
  margin-top:15px;

  height:60px;
  

}
.logo{
  margin-left: 120px;
  float:left;
  box-sizing: border-box;
  width: 200px;

  display: flex;
  color: #2b2a2c;
}
.text-logo{
  padding-left: 10px;
  padding-bottom: 15px;
}
#name{
  font-weight: bold;
margin-top: -5px;
  padding-bottom: 5px;
}
#werstka{
  color:#6a696b;
}
